<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }} | {{ site.title }}</title>
		<meta charset="UTF-8" />
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" href="/assets/styles/main.css" />
		<script src="/assets/scripts/counter.js"></script>
		<script src="/assets/scripts/features.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
	</head>
	<body>
		<header>
			<div style="min-height: 100px; padding: 10px 20px;">
				<h1 style="margin: 0; border: none; font-weight: normal;">
					ArtyomR_102's hideout
				</h1>
				<p style="font-family: var(--font-monospace); font-size: var(--size-code);" id="header-feature">
				  <blink style="display: inline-block; font-weight: bold;">_</blink>
				</p>
			</div>
			<div class="toolbar">
				<a href="/">Home</a>
				<a href="/projects/">Projects</a>
				<a href="/tools/">Tools</a>
				<a href="/files/">Files</a>
				<a href="/about-me/">About me</a>
			</div>
		</header>
		<main>
			{{ content }}
			<aside id="left-side-features"></aside>
			<aside id="right-side-features"></aside>
		</main>
		<footer>
			&copy; {{ site.time | date: "%Y" }} Romanov Artyom; <a href="/privacy-policy">Privacy policy</a>
			<a href="//www.liveinternet.ru/click" target="_blank">
				<img id="counter" width="88" height="31" />
			</a>
		</footer>
	</body>
	<script type="text/javascript">
    initCounter();
    placeAllFeatures();
    hljs.highlightAll();
    hljs.initLineNumbersOnLoad();
	</script>
</html>

